* {
    font-family: 'Courier New', Courier, monospace;
    color: #444;
}

body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

.headerImage {
    width: 100%;
    height: 35%;
    background: url("bilder/code.jpg") no-repeat center;
    background-size: cover;
    position: relative;
}

.headerText {
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px;
    font-size: 30px;
}

.personligBild {
    width: 100%;
}

.contentContainer {
    padding: 10px;
    position: relative;
    
}

#bildSpel {
    width: 200px;
    position: absolute;
    left:20%;
}

.pauseK {
    position: absolute;
    width: 30px;
    margin-top: 150px;
    left: 47%
    
}
.menuMobileIcon {
    display: inherit;
    position: absolute;
    top: 10px;
    right: 10px;
}

.menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.menuContainer{
    position: fixed;
    background: white;
    width: 60%;
    height: 100%;
    right: 0px;
    top: 0px;
    border-left: 1px solid #aaa;
    display: none;
}

.closeMenu{
    text-align: right;
    font-size: 30px;
}


.menu li {
    font-size: 20px;
    padding: 10px;
}

@media(min-width:768px) {
    .menuMobileIcon {
        display: none;
    }
    .menu {
        border: 1px solid #e7e7e7;
        background-color: #f3f3f3;
    }
    .menu li {
        display: inline-block;
    }
    .menu li:hover{
        background-color: #a3a3a3;
    }

    .menuContainer{
        display: block;
        position: relative;
        background: white;
        width: inherit;
        height: inherit;
    }
    .closeMenu{
        display: none;
    }
}

.menuMobileIcon div {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}